*{overflow: auto;}
div{
	padding: 20px;
	background-color: #eee;

}

.main{
	position: relative;
}

.b{background-color: white;
	border: 1px #999 solid; 

	}

#b1{width: 160px;
	height: 80px;
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: navy;
	}


#b3{width: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
}

#b2{
	margin-left:220px;
	margin-right: 160px;

	}

img{width: 80px;
	height: 80px;
	}

#logo{float: left;}
#tdmc{
		text-align: center;
}
